---
layout: archive
title: "Projects"
permalink: /projects/
author_profile: true
---

{% include base_path %}

I've been privileged to work on a number of diverse projects, most of which I'd love to return to someday. There's not enough time in the day to keep progressing on them all, but I would really hate to forget what I've learned while working on them. These pages serve as an external memory store for me to recall what I've done, and I've found that they are the most effective when they are presentable to a lay audience (probably because your future self is not much better than a layman). Please feel free to browse!

{% for post in site.projects %}
  {% include archive-single.html %}
{% endfor %}

