---
layout: archive
title: "Computational Protein Folding"
permalink: /protein/
author_profile: true
---

{% include base_path %}

<p>
Proteins are the machinery of life. They are comprised of a long string of amino acids, whose physical interactions wrap together into complex shapes essential to determining the protein's properties. The protein folding problem is about figuring out the 3-D structure of a protein given its 1-D amino acid sequence.
</p>

<p>
I reported how the Gridcoin cryptocurrency could incentivize people to donate computing time to scientists working on problems like protein folding. It was incredible that I could be helping cure cancer from my dorm room just by <a href="https://boinc.bakerlab.org/">running a program</a> on my laptop. Protein folding first instilled my interest in high performance computing and scientific research. I still remember purchasing an NVIDIA 1080ti graphics card for $1100 in 2017 because I could use it for protein folding, deep learning, and a little bit of gaming...
</p>

<p>
As of 2021, I have <a href="https://www.boincstats.com/stats/-1/user/detail/3716584/projectList">over 25 years</a> of computing time donated to Rosetta@Home (University of Washington), WorldCommunityGrid (IBM), GPUGRID (Universitat Pompeu Fabra), and Folding@Home (Stanford). Even under optimistic assumptions, purchasing that compute from Amazon Web Services would net you a bill running into the thousands of dollars.
</p>

<p>
Data science and machine learning have made huge gains in computational protein folding research over the years, and contributing to this field has always been a (pipe) dream of mine. So far, though, I've only been able to write about it at school:
</p>

{% for post in site.protein %}
  {% include archive-single.html %}
{% endfor %}